#This file tells Docker what to exclude from the build context. This is crucial for keeping your image size small and your build times fast. You don’t need your node_modules folder or your development files in the final image.

.next
node_modules
.git
.gitignore
.DS_Store
README.md